
    body {
      background-color: white;
    }

    .center-form {
      width: 80%;
      margin: auto;
    }

    #title {
      color: teal;
      text-align: center;
    }


    .waitlist {
      position: relative;
      z-index: 3;
      width: 146px;
      height: 30px;
      margin-top: 60px;
      border-style: solid;
      border-width: 1px;
      border-color: #081852;
      background-color: transparent;
      box-shadow: -10px 10px 0 0 #081852;
      color: #081852;
      font-size: 12px;
      line-height: 30px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 0.21px;
      position: fixed;
      right: 3%;
      top: -5%;
    }

    .waitlist-button {
      display: inline-block;
      padding: 9px 15px;
      background-color: #3898EC;
      color: white;
      border: 0;
      line-height: inherit;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0;
    }


    .box-prices {
      padding: 20px;
      width: 200px;
      height: auto;
      color: #000;
      /* background-color: #fff; */
      border: 4px solid #1c1c53;
      border-radius: 2px;
    }



    .dropbtn {
      background-color: navy;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }


    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }


    .dropdown:hover .dropdown-content {
      display: block;
    }


    .dropdown:hover .dropbtn {
      background-color: #0b95f1;
    }


    footer {
      display: flex;
      justify-content: space-between;
    }

    .myChart{
      width: 50%;
      height: 40px;
    }

    /* Decorative */
    a {
      text-decoration: none;
      color: #555;
    }



    footer {
      background-color: #82cdf8;
      padding: 20px 40px;

    }

    .right {
      float: left;
      text-align: center;
    }

    .article {
      color: white;
    }
   
